Q,No-01    Create a python program to sort the given list of tuples based on integer value using a
lambda function. 


[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Ans:

In [3]:
list_tuple = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), 
              ('Virat Kohli', 24936)]

In [4]:
sorted_data = sorted(list_tuple, key=lambda x: x[1])

for item in sorted_data:
    print(item)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

Q.No-02    Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ans:

In [8]:
Given_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
def Square(x):
    return x**2

In [10]:
list(map(Square,Given_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

Q.No-03    Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Ans:

In [11]:
Given_str = [1,2,3,4,5,6,7,8,9,10]

In [13]:
Conventer = tuple(map((lambda x: str(x)), Given_list))

In [14]:
print('Converted tuple of strings:', Conventer)

Converted tuple of strings: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

Q.No-04    Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

Ans:

In [16]:
from functools import  reduce

In [17]:
_1TO25_ = list(range(1,26))

In [18]:
product = reduce(lambda x,y: x*y, _1TO25_)

In [19]:
print('Product of a list containing numbers from 1 to 25:', product)

Product of a list containing numbers from 1 to 25: 15511210043330985984000000

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

Q.No-05    Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

Ans:

In [20]:
Given_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [23]:
list(filter(lambda x : x % 2 == 0 and x % 3 == 0, Given_list))

[6, 60, 90, 120]

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

Q.No-06    Write a python program to find palindromes in the given list of strings using lambda and filter
function.


['python', 'php', 'aba', 'radar', 'level']

Ans:

In [24]:
Given_list = ['python', 'php', 'aba', 'radar', 'level']

In [26]:
palindrome_list = list(filter(lambda x: x == x[::-1], Given_list))

In [28]:
print('Here, This is a palindromes in the given list:', palindrome_list)

Here, This is a palindromes in the given list: ['php', 'aba', 'radar', 'level']